
        
.nexainput.nexaleftalign
{
  text-align:left;
}
.nexainput.nexarightalign
{
  text-align:right;
}
.nexainput.nexacenteralign
{
  text-align:center;
}

.nexacontentsbox.nexaleftalign
{
  text-align:left;
}
.nexacontentsbox.nexarightalign
{
  text-align:right;
}
.nexacontentsbox.nexacenteralign
{
  text-align:center;
}
.celltreeline
{
  border : 1px dotted #999999;
}
.Edit, .MaskEdit, .TextArea, .EditControl, .MaskEditControl, .TextAreaControl
{
  cursor:text;
}
.Button .nexacontentsbox, .ButtonControl .nexacontentsbox
{
  text-align:center;
}

.FileDownload  .nexacontentsbox, .FileDownloadControl .nexacontentsbox
{
  text-align:center;
}

.IconTextControl .nexacontentsbox, .IconControl .nexacontentsbox
{
  text-align:center;
}

.DatePickerDayItemControl .nexacontentsbox, .DatePickerWeekItemControl .nexacontentsbox, .TitleBarButtonControl .nexacontentsbox
{
  text-align:center;
}

.MainFrame, .VScrollBarControl, .HScrollBarControl
{
  cursor:default;
}

.Sketch .nexacontentsbox
{
   text-align:center;
}

.nexainput
{
  cursor:inherit;
}

.Button.btn_normal
{
	font : normal 700 12pt /normal "Arial";
	background : #A1C4E8;
	color : #121212;
	cursor : pointer;
	border-radius : 8px;
}
.Button.btn_normal .nexacontentsbox
{
	text-align : center;
}
.Button.btn_search
{
	background : #A1C4E8;
	color : #121212;
	cursor : pointer;
	border-radius : 8px;
	font : normal bold  10pt/normal "Arial";
}
.Button.btn_search .nexacontentsbox
{
	text-align : center;
}
.Button.btn_delete
{
	font : normal bold  12pt/normal "Arial";
	background : #A1C4E8;
	color : #121212;
	cursor : pointer;
	border-radius : 8px;
}
.Button.btn_delete .nexacontentsbox
{
	text-align : center;
}
.Button.btn_download
{
	font : normal bold  12pt/normal "Arial";
	background : #A1C4E8;
	color : #121212;
	cursor : pointer;
	border-radius : 8px;
}
.Button.btn_download .nexacontentsbox
{
	text-align : center;
}
.Button.btn_regist
{
	font : normal bold  12pt/normal "Arial";
	background : #A1C4E8;
	color : #121212;
	cursor : pointer;
	border-radius : 8px;
}
.Button.btn_regist .nexacontentsbox
{
	text-align : center;
}
.Button.btn_check
{
	font : normal bold  12pt/normal "Arial";
	background : #A1C4E8;
	color : #121212;
	cursor : pointer;
	border-radius : 8px;
}
.Button.btn_check .nexacontentsbox
{
	text-align : center;
}
.Button.btn_edit
{
	font : normal 700 12pt /normal "Arial";
	background : #A1C4E8;
	color : #121212;
	cursor : pointer;
	border-radius : 8px;
}
.Button.btn_edit .nexacontentsbox
{
	text-align : center;
}
.Button.btn_temp
{
	background : #A1C4E8 !important;
}
