
        
.nexainput.nexaleftalign
{
  text-align:left;
}
.nexainput.nexarightalign
{
  text-align:right;
}
.nexainput.nexacenteralign
{
  text-align:center;
}

.nexacontentsbox.nexaleftalign
{
  text-align:left;
}
.nexacontentsbox.nexarightalign
{
  text-align:right;
}
.nexacontentsbox.nexacenteralign
{
  text-align:center;
}
.celltreeline
{
  border : 1px dotted #999999;
}
.Edit, .MaskEdit, .TextArea, .EditControl, .MaskEditControl, .TextAreaControl
{
  cursor:text;
}
.Button .nexacontentsbox, .ButtonControl .nexacontentsbox
{
  text-align:center;
}

.FileDownload  .nexacontentsbox, .FileDownloadControl .nexacontentsbox
{
  text-align:center;
}

.IconTextControl .nexacontentsbox, .IconControl .nexacontentsbox
{
  text-align:center;
}

.DatePickerDayItemControl .nexacontentsbox, .DatePickerWeekItemControl .nexacontentsbox, .TitleBarButtonControl .nexacontentsbox
{
  text-align:center;
}

.MainFrame, .VScrollBarControl, .HScrollBarControl
{
  cursor:default;
}

.Sketch .nexacontentsbox
{
   text-align:center;
}

.nexainput
{
  cursor:inherit;
}

.Static.stc_title
{
	border : 0px none,0px none,1px solid gray;
	color : #000000;
	font : bold 25px/1.2 "Arial";
}
.Static.stc_title .nexacontentsbox
{
	text-align : left;
}
.Static.stc_popup
{
	color : #000000;
	font : bold 22px/1.2 "Arial";
}
.Static.stc_popup .nexacontentsbox
{
	text-align : center;
}
.Static.stc_stc
{
	font : normal 14px/normal "Arial";
}
.Static.stc_stc .nexacontentsbox
{
	text-align : center;
}
