<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hcnc.cteam.employee.HrdMapper">
	<select id="getHrdList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT e.emp_code AS emp_code,
				e.name AS name, 
				e.mng_code AS mng_code, 
				d.dep_name AS dep_name,
				e.assign_code AS assign_code, 
				a.assign_name AS assign_name,
				(SELECT name
				FROM employee e3
				WHERE e3.emp_code = e.mng_code) AS mng_name,
				e.join_date,
				e.resign_date
		FROM employee e  LEFT JOIN `assignment` a 
			ON e.assign_code = a.assign_code LEFT JOIN department d 
			ON e.dep_code = d.dep_code 
		WHERE 1=1
		<if test="SEARCH_WORD != null and SEARCH_WORD != '' and SEARCH_TYPE != '' and SEARCH_TYPE != null">
			<if test="SERACH_TYPE==all">
				AND (e.name LIKE CONCAT('%',#{SERACH_WORD},'%') 
				OR e.dep_name LIKE CONCAT('%',#{SERACH_WORD},'%')
				OR e.emp_code LIKE CONCAT('%',#{SERACH_WORD},'%')
				OR a.assign_name LIKE CONCAT('%',#{SERACH_WORD},'%')
				)
			</if>
			<if test="SERACH_TYPE==emp_code">
				AND e.emp_code LIKE CONCAT('%',#{SERACH_WORD},'%')
			</if>
			<if test="SERACH_TYPE==name">
				AND e.name LIKE CONCAT('%',#{SERACH_WORD},'%')
			</if>
			<if test="SERACH_TYPE==dep_name">
				AND e.dep_name LIKE CONCAT('%',#{SERACH_WORD},'%')
			</if>
		</if>
	</select>
	
	<update id="updateHRD" parameterType="java.util.Map">
    <!-- dep_code 업데이트 -->
        UPDATE employee
	    SET
	        <!-- assign_code 업데이트: 넘겨받은 assign_name을 기준으로 -->
	        assign_code = (
	            SELECT a.assign_code
	            FROM assignment a
	            WHERE a.assign_name = #{assign_name}
	        ),
	
	        <!-- dep_code 업데이트: 넘겨받은 dep_name을 기준으로 -->
	        dep_code = (
	            SELECT d.dep_code
	            FROM department d
	            WHERE d.dep_name = #{dep_name}
	        ),
	
	        <!-- mng_code 업데이트: assign_code가 5 이상인 경우 7로 설정, 그렇지 않으면 dep_name에 맞는 사람의 emp_code로 설정 -->
	        mng_code = (CASE
	            WHEN #{assign_code} >= 5 THEN 7
	            ELSE (
	                SELECT emp2.emp_code
	                FROM employee emp2
	                WHERE emp2.dep_code = (
	                    SELECT d.dep_code
	                    FROM department d
	                    WHERE d.dep_name = #{dep_name}
	                AND emp2.assign_code = 5
	            ))
	        END),
	
	        <!-- join_date가 null이 아닌 경우에만 업데이트 -->
	        <if test="join_date != null">
	            join_date = #{join_date},
	        </if>
	
	        <!-- resign_date가 null이 아닌 경우에만 업데이트 -->
	        <if test="resign_date != null">
	            resign_date = #{resign_date},
	        </if>
	        
	    WHERE emp_code = #{emp_code}
</update>
	

</mapper>