<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hcnc.cteam.attendance.NexaAttenMapper">
	
	<!-- 조건에 따른 조회(검색) 쿼리 -->
	<select id="nexaGetAttenListByCondition"
		resultType="nexaAttenDTO">
		SELECT a.emp_code as empCode
			, a.name as name
			, d.assign_name as assignName
			, e.dep_name as depName
			, b.work_date as workDate
			, c.atten_type as attenType
			, DATE_FORMAT(b.work_start, '%H:%i') as workStart
			, DATE_FORMAT(b.work_end, '%H:%i') as workEnd
			, b.work_over as workOver
		FROM employee a
		JOIN attendance b ON a.emp_code = b.emp_code
		JOIN att_code c ON b.atten_code = c.atten_code
		JOIN assignment d ON a.assign_code = d.assign_code
		JOIN department e ON a.dep_code = e.dep_code
		WHERE 1=1
		<if test="SEARCH_WORD != null and SEARCH_WORD != '' and SEARCH_TYPE != '' and SEARCH_TYPE != null">
			<!-- 전체 조회 -->
			<if test="SEARCH_TYPE == 'ALL'">
				AND (a.emp_code LIKE CONCAT('%', #{SEARCH_WORD}, '%')
				OR a.name LIKE CONCAT('%', #{SEARCH_WORD}, '%')
				OR d.assign_name LIKE CONCAT('%', #{SEARCH_WORD}, '%')
				OR e.dep_name LIKE CONCAT('%', #{SEARCH_WORD}, '%')
				OR b.work_date LIKE CONCAT('%', #{SEARCH_WORD}, '%')
				OR c.atten_type LIKE CONCAT('%', #{SEARCH_WORD}, '%')
				OR b.work_start LIKE CONCAT('%', #{SEARCH_WORD}, '%')
				OR b.work_end LIKE CONCAT('%', #{SEARCH_WORD}, '%')
				OR b.work_over LIKE CONCAT('%', #{SEARCH_WORD}, '%'))
			</if>
			<!-- 이름별 조회 -->
			<if test="SEARCH_TYPE == 'NAME'">
				AND a.name LIKE CONCAT('%', #{SEARCH_WORD}, '%')
			</if>
			<!-- 직책별 조회 -->			
			<if test="SEARCH_TYPE == 'ASSIGNMENT'">
				AND d.assign_name LIKE CONCAT('%', #{SEARCH_WORD}, '%')
			</if>
			<!-- 부서별 조회 -->
			<if test="SEARCH_TYPE == 'DEPARTMENT'">
				AND dep_name LIKE CONCAT('%', #{SEARCH_WORD}, '%')
			</if>
			<!-- 근무형태별 조회 -->
			<if test="SEARCH_TYPE == 'WORK_TYPE'">
				AND c.atten_type LIKE CONCAT('%', #{SEARCH_WORD}, '%')
			</if>
		</if>
		<!-- 근무일자에 따른 조회 -->
		<if test='START_DATE != null and START_DATE != "" and END_DATE != null and END_DATE != ""'>
			AND b.work_date BETWEEN #{START_DATE} AND #{END_DATE}
		</if>
	</select>

</mapper>