<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hcnc.cteam.pay.PayMapper">

	<select id="selectMyPay" resultType="payDTO" parameterType="paySearchDTO">
		SELECT emp_code, pay_year, pay_month, give_date, pay_over, pay_meal, pay_amount,
		income_tax, resident_tax, national_tax, emp_insurance, health_insurance, longcare_insurance, actual_pay, etc
		FROM pay 
		WHERE emp_code = #{empCode}
		AND pay_month = #{payMonth}
		AND pay_year = #{payYear};
	</select>
	
	<select id="selectEmp" resultType="payEmpDTO" parameterType="Integer">
		SELECT emp_code, e.assign_code, assign_name, e.dep_code, dep_name, id, name, birth
		FROM employee e JOIN `assignment` a 
		ON e.assign_code = a.assign_code 
		JOIN department d 
		ON d.dep_code = e.dep_code 
		WHERE emp_code =  #{empCode};
	</select>	
	
	<select id="selectMonthly" resultType="int" parameterType="Integer">
		SELECT DISTINCT monthly 
		FROM `assignment` a JOIN employee e 
		ON a.assign_code = e.assign_code 
		JOIN pay p 
		ON p.emp_code = e.emp_code
		WHERE p.emp_code =  #{empCode};
	</select>
	
	<select id="selectMinus"  resultType="int" parameterType="paySearchDTO">
		SELECT income_tax + resident_tax + national_tax + emp_insurance + health_insurance + longcare_insurance 
		FROM pay 
		WHERE emp_code =  #{empCode}
		AND pay_month = #{payMonth}
		AND pay_year = #{payYear}
	</select>
	
	<select id="selectTotalDay" resultType="int" parameterType="paySearchDTO">
		SELECT 
		(SELECT COUNT(*)
		FROM attendance a JOIN att_code ac 
		ON a.atten_code = ac.atten_code 
		JOIN employee e 
		ON a.emp_code = e.emp_code 
		WHERE a.emp_code =  #{empCode}
		AND a.atten_code = 1
		AND MONTH(work_date) = #{payMonth}
		AND YEAR(work_date) = #{payYear}  ) 
		+ 
		(SELECT COUNT(*)
		FROM attendance a JOIN att_code ac 
		ON a.atten_code = ac.atten_code 
		JOIN employee e 
		ON a.emp_code = e.emp_code 
		WHERE a.emp_code =  #{empCode}
		AND a.atten_code = 3
		AND MONTH(work_date) = #{payMonth}
		AND YEAR(work_date) = #{payYear} );
	</select>
	
	<select id="selectTotalTime" resultType="int" parameterType="paySearchDTO">
		SELECT (SELECT COUNT(*) * 8
		FROM attendance a JOIN att_code ac 
		ON a.atten_code = ac.atten_code 
		JOIN employee e 
		ON a.emp_code = e.emp_code 
		WHERE a.emp_code =  #{empCode}
		AND a.atten_code = 1
		AND MONTH(work_date) = #{payMonth}
		AND YEAR(work_date) =  #{payYear} ) 
		+ 
		(SELECT COUNT(*) * 8 
		FROM attendance a JOIN att_code ac 
		ON a.atten_code = ac.atten_code 
		JOIN employee e 
		ON a.emp_code = e.emp_code 
		WHERE a.emp_code =  #{empCode}
		AND a.atten_code = 3
		AND MONTH(work_date) = #{payMonth}
		AND YEAR(work_date) =  #{payYear} );
	</select>
	
	<select id="selectWorkOver" resultType="Double" parameterType="paySearchDTO">
		SELECT SUM(work_over)
		FROM attendance a JOIN att_code ac 
		ON a.atten_code = ac.atten_code 
		JOIN employee e 
		ON a.emp_code = e.emp_code 
		WHERE a.emp_code =  #{empCode}
		AND a.atten_code = 1
		AND MONTH(work_date) = #{payMonth}
		AND YEAR(work_date) = #{payYear} ;
	</select>	
	
	<select id="selectPayList" resultType="payDTO" parameterType="int">
		SELECT emp_code, pay_year, pay_month, give_date, pay_over, pay_meal, pay_amount,
		income_tax, resident_tax, national_tax, emp_insurance, health_insurance, longcare_insurance, actual_pay, etc
		FROM pay 
		WHERE emp_code =  #{empCode}
		ORDER BY pay_year DESC,
		pay_month DESC;
	</select>
	
	<select id="selectPeriod" resultType="payDTO" parameterType="paySearchDTO">
		SELECT emp_code, pay_year, pay_month, give_date, pay_over, pay_meal, pay_amount,
		income_tax, resident_tax, national_tax, emp_insurance, health_insurance, longcare_insurance, actual_pay, etc
		FROM pay 
		WHERE emp_code =  #{empCode}
		AND pay_year BETWEEN #{startYear} AND #{endYear}
		AND pay_month BETWEEN #{startMonth} AND #{endMonth}
		ORDER BY pay_year DESC,
		pay_month DESC;
	</select>
	
	
	
</mapper>